<!DOCTYPE html>
<html lang="en">
<head>
    <!--<link rel="stylesheet" href="https://unpkg.com/vue-easytable/umd/css/index.css">-->
    <!--<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>-->
    <!--<script src="node_modules/babel-core/browser.min.js"></script>-->
    <script src="manager_static/vue.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.2.5/polyfill.min.js"></script>-->
    <script src="manager_static/antd.min.js"></script>
    <script src="manager_static/moment.min.js"></script>
    <link href="manager_static/antd.min.css" rel="stylesheet" type="text/css" />
    <script src="manager_static/jquery.min.js"></script>
    <!--<script src="https://unpkg.com/vue-easytable/umd/js/index.js"></script>-->
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a-card id="app" :bordered="false">
    <a-button type="primary" @click="handleInsert" class="but">新增管理员</a-button>
    <a-button @click="adminSelect">查询所有管理员</a-button>
    <a-input-search placeholder="输入查询姓名" style="width: 200px; margin: 10px" @search="onSearch"></a-input-search>
    <a-table
            :columns="columns"
            row-key="id"
            :data-source="tableData"
    >
        <span slot="action" slot-scope="text, record">
            <a @click="handleUpdate(record)">修改</a>
            <a-divider type="vertical"/>
            <a style="color: red" @click="adminDelete(record)">删除</a>
        </span>
        <span slot="pic1" slot-scope="url">
            <img :src="url" />
        </span>
        <span slot="pic2" slot-scope="url">
            <img :src="url" />
        </span>
    </a-table>
    <a-modal
            :visible="visible"
            @ok="() => {this.insertOrUpdate === 1 ? adminInsert() : adminUpdate()}"
            @cancel="modalCancel"
            :confirm-loading="confirmLoading">
        >
        <a-form layout="inline" :form="form">
            <div>
                <a-form-item
                        label="id"
                        :label-col="formItemLayout.labelCol"
                        :wrapper-col="formItemLayout.wrapperCol"
                >
                    <a-input :disabled="true"
                             v-decorator="[
                          'id',
                          {
                            rules: [{ required: false, message: 'Please input id' }],

                          },
                        ]"
                             placeholder="Please input id"
                    />
                </a-form-item>
            </div>
            <div>
                <a-form-item
                        label="name"
                        :label-col="formItemLayout.labelCol"
                        :wrapper-col="formItemLayout.wrapperCol"
                >
                    <a-input
                            v-decorator="[
                          'adminName',
                          {
                            rules: [{ required: true, message: 'Please input adminName' }],
                          },
                        ]"
                            placeholder="Please input adminName"
                    />
                </a-form-item>
            </div>
            <div>
                <a-form-item
                        label="password"
                        :label-col="formItemLayout.labelCol"
                        :wrapper-col="formItemLayout.wrapperCol"
                >
                    <a-input
                            v-decorator="[
                          'password',
                          {
                            rules: [{ required: true, message: 'Please input password' }],
                          },
                        ]"
                            placeholder="Please input password"
                    />
                </a-form-item>
            </div>
        </a-form>
    </a-modal>
</a-card>

</body>
</html>
<script>
    var columns = [
        {
            title: 'ID',
            dataIndex: 'id',
        },
        {
            title: 'Name',
            dataIndex: 'adminName',
        },
        {
            title: 'type',
            dataIndex: 'password',
        },
        {
            title: '操作',
            scopedSlots: { customRender: 'action' },
        }
    ];
    var formItemLayout = {
        labelCol: {
            xs: { span: 24 },
            sm: { span: 8 },
        },
        wrapperCol: {
            xs: { span: 24 },
            sm: { span: 16 },
        },
    };
    var vue = new Vue({
        beforeCreate : function() {
            this.form = this.$form.createForm(this)
            $.ajax({
                //几个参数需要注意一下
                type: "GET",//方法类型
                dataType: "json",//预期服务器返回的数据类型
                url: "http://192.168.43.164:8080/qingzhu/admin/getalladmins" ,//url
                // url: "http://47.98.52.193:9090/spring/qingzhu/typedata",
                // contentType:"application/json",
                // beforeSend: function(request) {
                //     request.setRequestHeader("Access-Control-Allow-Origin", "*");
                // },
                success: function (result) {
                    vue.tableData = result.extend.admins;
                    console.log(result.extend.goods);//打印服务端返回的数据(调试用)
                },
                error : function() {
                    alert("异常！");
                }
            })
        },
        el: '#app',
        data: {
            formItemLayout: formItemLayout,
            // formTailLayout: formTailLayout,
            visible: false,
            tableData: [],
            columns:columns,
            insertOrUpdate: 1,
            confirmLoading: false,
            item_id: null,
            item_type: null
        },
        methods:  {

            adminSelect: function(record){
                $.ajax({
                    //几个参数需要注意一下
                    type: "GET",//方法类型
                    dataType: "json",//预期服务器返回的数据类型
                    url: "http://192.168.43.164:8080/qingzhu/admin/getalladmins" ,//url
                    // url: "http://47.98.52.193:9090/spring/qingzhu/typedata",
                    // contentType:"application/json",
                    // beforeSend: function(request) {
                    //     request.setRequestHeader("Access-Control-Allow-Origin", "*");
                    // },
                    success: function (result) {
                        vue.tableData = result.extend.admins;
                        console.log(result.extend.goods);//打印服务端返回的数据(调试用)
                    },
                    error : function() {
                        alert("异常！");
                    }
                })

            },
            adminDelete: function (record) {
                console.log(record.id);
                vue.visible = false;
                var d = { id : record.id};
                var e = window.event;
                e.preventDefault();
                vue.visible = false;
                $.ajax({
                    //几个参数需要注意一下
                    type: "POST",//方法类型
                    dataType: "json",//预期服务器返回的数据类型
                    data:JSON.stringify(d),
                    url: "http://192.168.43.164:8080/qingzhu/admin/deleteadmin" ,//url
                    // url: "http://47.98.52.193:9090/spring/qingzhu/typedata",
                    contentType:"application/json",
                    // beforeSend: function(request) {
                    //     request.setRequestHeader("Access-Control-Allow-Origin", "*");
                    // },
                    success: function (result) {
                        vue.tableData = result.extend.admins;
                        // console.log(result.extend.users);//打印服务端返回的数据(调试用)
                    },
                    error : function() {
                        alert("异常！");
                    }
                })
            },
            adminInsert: function () {
                vue.visible = false;
                var e = window.event;
                e.preventDefault();
                var d = {
                    id: vue.form.getFieldValue("id"),
                    adminName: vue.form.getFieldValue("adminName"),
                    password:vue.form.getFieldValue("password"),
                };
                vue.visible = false;
                $.ajax({
                    //几个参数需要注意一下
                    type: "POST",//方法类型
                    dataType: "json",//预期服务器返回的数据类型
                    data:JSON.stringify(d),
                    url: "http://192.168.43.164:8080/qingzhu/admin/addadmin" ,//url
                    // url: "http://47.98.52.193:9090/spring/qingzhu/typedata",
                    contentType:"application/json",
                    // beforeSend: function(request) {
                    //     request.setRequestHeader("Access-Control-Allow-Origin", "*");
                    // },
                    success: function (result) {
                        vue.tableData = result.extend.admins;
                        // console.log(result.extend.users);//打印服务端返回的数据(调试用)
                    },
                    error : function() {
                        alert("异常！");
                    }
                })
            },
            adminUpdate: function (record) {
                var e = window.event;
                e.preventDefault();
                var d = {
                    id: vue.form.getFieldValue("id"),
                    adminName: vue.form.getFieldValue("adminName"),
                    password:vue.form.getFieldValue("password"),
                };
                vue.visible = false;
                $.ajax({
                    //几个参数需要注意一下
                    type: "POST",//方法类型
                    dataType: "json",//预期服务器返回的数据类型
                    data:JSON.stringify(d),
                    url: "http://192.168.43.164:8080/qingzhu/admin/updateadmin" ,//url
                    // url: "http://47.98.52.193:9090/spring/qingzhu/typedata",
                    contentType:"application/json",
                    // beforeSend: function(request) {
                    //     request.setRequestHeader("Access-Control-Allow-Origin", "*");
                    // },
                    success: function (result) {
                        vue.tableData = result.extend.admins;
                        // console.log(result.extend.users);//打印服务端返回的数据(调试用)
                    },
                    error : function() {
                        alert("异常！");
                    }
                })
            },

            modalCancel: function () {
                vue.form.setFieldsValue({
                    adminName: null, password: null, id: null
                });
                vue.visible = false
            },
            handleUpdate: function (record) {
                vue.insertOrUpdate = 0;
                console.log(record);
                vue.form.setFieldsValue({
                    adminName: record.adminName, password: record.password, id: record.id,
                });
                vue.visible = true
            },
            handleInsert: function () {
                vue.insertOrUpdate = 1;
                vue.visible = true
            },

            onSearch: function (adminName) {
                var e = window.event;
                e.preventDefault();
                $.ajax({
                    //几个参数需要注意一下
                    type: "POST",//方法类型
                    dataType: "json",//预期服务器返回的数据类型
                    data:{adminName: adminName},
                    url: "http://192.168.43.164:8080/qingzhu/admin/searchadmin" ,//url
                    // url: "http://47.98.52.193:9090/spring/qingzhu/typedata",
                    contentType:"application/x-www-form-urlencoded",
                    // beforeSend: function(request) {
                    //     request.setRequestHeader("Access-Control-Allow-Origin", "*");
                    // },
                    success: function (result) {
                        vue.tableData = result.extend.admins;
                        // console.log(result.extend.users);//打印服务端返回的数据(调试用)
                    },
                    error : function() {
                        alert("异常！");
                    }
                })
            }

        }
    })

</script>

<style>
    .but{
        margin: 10px;
    }
    .form{
        min-width: 90%;
    }
</style>