<!DOCTYPE html>
<html lang="en">
<head>
    <!--<link rel="stylesheet" href="https://unpkg.com/vue-easytable/umd/css/index.css">-->
    <!--<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>-->
    <!--<script src="node_modules/babel-core/browser.min.js"></script>-->
    <script src="manager_static/vue.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.2.5/polyfill.min.js"></script>-->
    <script src="manager_static/antd.min.js"></script>
    <script src="manager_static/moment.min.js"></script>
    <link href="manager_static/antd.min.css" rel="stylesheet" type="text/css" />
    <script src="manager_static/jquery.min.js"></script>
    <!--<script src="https://unpkg.com/vue-easytable/umd/js/index.js"></script>-->
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a-card id="app" :bordered="false">
    <a-button type="primary" @click="handleInsert" class="but">新增商品</a-button>
    <a-button @click="goodsSelect">查询所有商品</a-button>
    <a-input-search placeholder="输入查询商品名" style="width: 200px; margin: 10px" @search="onSearch"></a-input-search>
    <a-table
            :columns="columns"
            row-key="id"
            :data-source="tableData"
    >
        <span slot="action" slot-scope="text, record">
            <a @click="handleUpdate(record)">修改</a>
            <a-divider type="vertical"/>
            <a style="color: red" @click="goodsDelete(record)">删除</a>
        </span>
        <span slot="pic1" slot-scope="url">
            <img :src="url" style="size: 20px" />
        </span>
        <span slot="pic2" slot-scope="url,record">
            <a-upload
                name="img"
                :data="{id: record.id}"
                :multiple="false"
                action="http://192.168.43.164:8080/qingzhu/admin/imgupload"
                :headers="headers"
                @change="handleChange"
            ><a-button> <a-icon type="upload" /></a-button></a-upload>
        </span>
    </a-table>
    <a-modal
            :visible="visible"
            @ok="() => {this.insertOrUpdate === 1 ? goodsInsert() : goodsUpdate()}"
            @cancel="modalCancel"
            :confirm-loading="confirmLoading">
        >
        <a-form layout="inline" :form="form">
            <div>
                <a-form-item
                        label="id"
                        :label-col="formItemLayout.labelCol"
                        :wrapper-col="formItemLayout.wrapperCol"
                >
                    <a-input :disabled="true"
                             v-decorator="[
                          'id',
                          {
                            rules: [{ required: false, message: 'Please input id' }],

                          },
                        ]"
                             placeholder="Please input id"
                    />
                </a-form-item>
                <a-form-item
                        label="goodsName"
                        :label-col="formItemLayout.labelCol"
                        :wrapper-col="formItemLayout.wrapperCol"
                >
                    <a-input
                            v-decorator="[
                          'goodsName',
                          {
                            rules: [{ required: true, message: 'Please input goodsName' }],

                          },
                        ]"
                            placeholder="Please input goodsName"
                    />
                </a-form-item>
            </div>
            <div>
                <a-form-item
                        label="type"
                        :label-col="formItemLayout.labelCol"
                        :wrapper-col="formItemLayout.wrapperCol"
                >
                    <a-input
                            v-decorator="[
                          'type',
                          {
                            rules: [{ required: true, message: 'Please input type' }],
                          },
                        ]"
                            placeholder="Please input type"
                    />
                </a-form-item>
            </div>
            <div>
                <a-form-item
                        label="goodsPrice"
                        :label-col="formItemLayout.labelCol"
                        :wrapper-col="formItemLayout.wrapperCol"
                >
                    <a-input
                            v-decorator="[
                          'goodsPrice',
                          {
                            rules: [{ required: true, message: 'Please input goodsPrice' }],
                          },
                        ]"
                            placeholder="Please input goodsPrice"
                    />
                </a-form-item>
            </div>
            <div>
                <a-form-item
                        label="goodsStock"
                        :label-col="formItemLayout.labelCol"
                        :wrapper-col="formItemLayout.wrapperCol"
                >
                    <a-input
                            v-decorator="[
                          'goodsStock',
                          {
                            rules: [{ required: true, message: 'Please input goodsStock' }],
                          },
                        ]"
                            placeholder="Please input goodsStock"
                    />
                </a-form-item>
            </div>
            <div>
                <a-form-item
                        label="goodsSold"
                        :label-col="formItemLayout.labelCol"
                        :wrapper-col="formItemLayout.wrapperCol"
                >
                    <a-input
                            v-decorator="[
                          'goodsSold',
                          {
                            rules: [{ required: true, message: 'Please input goodsSold' }],
                          },
                        ]"
                            placeholder="Please input goodsSold"
                    />
                </a-form-item>
            </div>
            <div>
                <a-form-item
                        label="detail"
                        :label-col="formItemLayout.labelCol"
                        :wrapper-col="formItemLayout.wrapperCol"
                >
                    <a-input
                            v-decorator="[
                          'detail',
                          {
                            rules: [{ required: true, message: 'Please input detail' }],
                          },
                        ]"
                            placeholder="Please input detail"
                    />
                </a-form-item>
            </div>
            <div>
                <a-form-item
                        label="priceOriginal"
                        :label-col="formItemLayout.labelCol"
                        :wrapper-col="formItemLayout.wrapperCol"
                >
                    <a-input
                            v-decorator="[
                          'priceOriginal',
                          {
                            rules: [{ required: true, message: 'Please input priceOriginal' }],
                          },
                        ]"
                            placeholder="Please input priceOriginal"
                    />
                </a-form-item>
            </div>
        </a-form>
    </a-modal>
</a-card>

</body>
</html>
<script>
    var columns = [
        {
            title: 'ID',
            dataIndex: 'id',
        },
        {
            title: 'Name',
            dataIndex: 'goodsName',
        },
        {
            title: 'type',
            dataIndex: 'type',
        },
        {
            title: 'price',
            dataIndex: 'goodsPrice',
        },
        {
            title: 'stock',
            dataIndex: 'goodsStock',
        },
        {
            title: 'sold',
            dataIndex: 'goodsSold'
        },
        {
            title: 'detail',
            dataIndex: 'detail'
        },
        {
            title: 'createTime',
            dataIndex: 'str_createTime'
        },
        {
            title: 'priceOriginal',
            dataIndex: 'priceOriginal'
        },
        {
            title: 'pic1',
            dataIndex: 'picURLone',
            scopedSlots: { customRender: 'pic1' },
        },
        {
            title: 'pic2',
            dataIndex: 'picURLtwo',
            scopedSlots: { customRender: 'pic2' },
        },
        {
            title: '操作',
            scopedSlots: { customRender: 'action' },
        }
    ];
    var formItemLayout = {
        labelCol: {
            xs: { span: 24 },
            sm: { span: 8 },
        },
        wrapperCol: {
            xs: { span: 24 },
            sm: { span: 16 },
        },
    };
    var vue = new Vue({
        beforeCreate : function() {
            this.form = this.$form.createForm(this)
            $.ajax({
                //几个参数需要注意一下
                type: "GET",//方法类型
                dataType: "json",//预期服务器返回的数据类型
                url: "http://192.168.43.164:8080/qingzhu/admin/getallgoods" ,//url
                // url: "http://47.98.52.193:9090/spring/qingzhu/typedata",
                // contentType:"application/json",
                // beforeSend: function(request) {
                //     request.setRequestHeader("Access-Control-Allow-Origin", "*");
                // },
                success: function (result) {
                    vue.tableData = result.extend.goods;
                    console.log(result.extend.goods);//打印服务端返回的数据(调试用)
                },
                error : function() {
                    alert("异常！");
                }
            })
        },
        el: '#app',
        data: {
            headers: {
                authorization: 'authorization-text',
            },
            formItemLayout: formItemLayout,
            // formTailLayout: formTailLayout,
            visible: false,
            tableData: [],
            columns:columns,
            insertOrUpdate: 1,
            confirmLoading: false,
            item_id: null,
            item_type: null
        },
        methods:  {

            goodsSelect: function(record){
                $.ajax({
                    //几个参数需要注意一下
                    type: "GET",//方法类型
                    dataType: "json",//预期服务器返回的数据类型
                    url: "http://192.168.43.164:8080/qingzhu/admin/getallgoods" ,//url
                    // url: "http://47.98.52.193:9090/spring/qingzhu/typedata",
                    // contentType:"application/json",
                    // beforeSend: function(request) {
                    //     request.setRequestHeader("Access-Control-Allow-Origin", "*");
                    // },
                    success: function (result) {
                        vue.tableData = result.extend.goods;
                        console.log(result.extend.goods);//打印服务端返回的数据(调试用)
                    },
                    error : function() {
                        alert("异常！");
                    }
                })

            },
            goodsDelete: function (record) {
                console.log(record.id);
                vue.visible = false;
                var d = { id : record.id};
                var e = window.event;
                e.preventDefault();
                vue.visible = false;
                $.ajax({
                    //几个参数需要注意一下
                    type: "POST",//方法类型
                    dataType: "json",//预期服务器返回的数据类型
                    data:{id :record.id},
                    url: "http://192.168.43.164:8080/qingzhu/admin/deletegood" ,//url
                    // url: "http://47.98.52.193:9090/spring/qingzhu/typedata",
                    contentType:"application/x-www-form-urlencoded",
                    // beforeSend: function(request) {
                    //     request.setRequestHeader("Access-Control-Allow-Origin", "*");
                    // },
                    success: function (result) {
                        vue.tableData = result.extend.goods;
                        // console.log(result.extend.users);//打印服务端返回的数据(调试用)
                    },
                    error : function() {
                        alert("异常！");
                    }
                })
            },
            goodsInsert: function () {
                vue.visible = false;
                var e = window.event;
                e.preventDefault();
                var d = {
                    id: vue.form.getFieldValue("id"),
                    goodsName: vue.form.getFieldValue("goodsName"),
                    type:vue.form.getFieldValue("type"),
                    goodsPrice: vue.form.getFieldValue("goodsPrice"),
                    goodsStock:vue.form.getFieldValue("goodsStock"),
                    goodsSold:vue.form.getFieldValue("goodsSold"),
                    detail:vue.form.getFieldValue("detail"),
                    priceOriginal:vue.form.getFieldValue("priceOriginal"),


                };
                vue.visible = false;
                $.ajax({
                    //几个参数需要注意一下
                    type: "POST",//方法类型
                    dataType: "json",//预期服务器返回的数据类型
                    data:JSON.stringify(d),
                    url: "http://192.168.43.164:8080/qingzhu/admin/addgood" ,//url
                    // url: "http://47.98.52.193:9090/spring/qingzhu/typedata",
                    contentType:"application/json",
                    // beforeSend: function(request) {
                    //     request.setRequestHeader("Access-Control-Allow-Origin", "*");
                    // },
                    success: function (result) {
                        vue.tableData = result.extend.goods;
                        // console.log(result.extend.users);//打印服务端返回的数据(调试用)
                    },
                    error : function() {
                        alert("异常！");
                    }
                })
            },
            goodsUpdate: function (record) {
                var e = window.event;
                e.preventDefault();
                var d = {
                    id: vue.form.getFieldValue("id"),
                    goodsName: vue.form.getFieldValue("goodsName"),
                    type:vue.form.getFieldValue("type"),
                    goodsPrice: vue.form.getFieldValue("goodsPrice"),
                    goodsStock:vue.form.getFieldValue("goodsStock"),
                    goodsSold:vue.form.getFieldValue("goodsSold"),
                    detail:vue.form.getFieldValue("detail"),
                    priceOriginal:vue.form.getFieldValue("priceOriginal"),
                };
                vue.visible = false;
                $.ajax({
                    //几个参数需要注意一下
                    type: "POST",//方法类型
                    dataType: "json",//预期服务器返回的数据类型
                    data:JSON.stringify(d),
                    url: "http://192.168.43.164:8080/qingzhu/admin/updategood" ,//url
                    // url: "http://47.98.52.193:9090/spring/qingzhu/typedata",
                    contentType:"application/json",
                    // beforeSend: function(request) {
                    //     request.setRequestHeader("Access-Control-Allow-Origin", "*");
                    // },
                    success: function (result) {
                        vue.tableData = result.extend.goods;
                        // console.log(result.extend.users);//打印服务端返回的数据(调试用)
                    },
                    error : function() {
                        alert("异常！");
                    }
                })
            },

            modalCancel: function () {
                vue.form.setFieldsValue({
                    goodsName: null, type: null, id: null,
                    goodsPrice: null, goodsStock: null, goodsSold: null, detail: null,priceOriginal: null
                });
                vue.visible = false
            },
            handleUpdate: function (record) {
                vue.insertOrUpdate = 0;
                console.log(record);
                vue.form.setFieldsValue({
                    goodsName: record.goodsName, type: record.type, id: record.id,
                    goodsPrice: record.goodsPrice, goodsStock: record.goodsStock,
                    goodsSold: record.goodsSold, detail: record.detail,priceOriginal: record.priceOriginal
                });
                vue.visible = true
            },
            handleInsert: function () {
                vue.insertOrUpdate = 1;
                vue.visible = true
            },

            onSearch: function (goodName) {
                var e = window.event;
                e.preventDefault();
                $.ajax({
                    //几个参数需要注意一下
                    type: "POST",//方法类型
                    dataType: "json",//预期服务器返回的数据类型
                    data:{goodname: goodName},
                    url: "http://192.168.43.164:8080/qingzhu/admin/searchgood" ,//url
                    // url: "http://47.98.52.193:9090/spring/qingzhu/typedata",
                    contentType:"application/x-www-form-urlencoded",
                    // beforeSend: function(request) {
                    //     request.setRequestHeader("Access-Control-Allow-Origin", "*");
                    // },
                    success: function (result) {
                        vue.tableData = result.extend.users;
                        // console.log(result.extend.users);//打印服务端返回的数据(调试用)
                    },
                    error : function() {
                        alert("异常！");
                    }
                })
            },
            handleChange(info) {
                if (info.file.status !== 'uploading') {
                    console.log(info.file, info.fileList);
                }
                if (info.file.status === 'done') {
                    console.log("done")
                    console.log("done");
                    var e = window.event;
                    e.preventDefault();
                    console.log("qeqw")
                    $.ajax({
                        //几个参数需要注意一下
                        type: "GET",//方法类型
                        dataType: "json",//预期服务器返回的数据类型
                        url: "http://192.168.43.164:8080/qingzhu/admin/getallgoods" ,//url
                        success: function (result) {
                            vue.tableData = result.extend.goods;
                            console.log(result.extend.goods);//打印服务端返回的数据(调试用)
                        },
                        error : function() {
                            alert("异常！");
                        }
                    })
                } else if (info.file.status === 'error') {
                    console.log("error")
                }
            },

        }
    })

</script>

<style>
    .but{
        margin: 10px;
    }
    .form{
        min-width: 90%;
    }
</style>