<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="getuser" method="post">
    Id: <input type="text" name="id"><br>
    <input type="submit" value="提交">
</form>

<form action="login" method="post">
    username: <input type="text" name="userName"><br>
    password: <input type="text" name="password"><br>
    <input type="submit" value="提交">
</form>

<br>
<br>
<form action="/qingzhu/admin/imgupload" method="post" enctype="multipart/form-data">
    <label>上传图片</label>
    <input type="input" name="id"/>
    <input type="file" name="img"/>
    <input type="submit" value="上传"/>
</form>
<img src="/qingzhu/upload/imgs/adf5b2bc-80c0-4d0d-ac3f-19409a9572fd.png">

</body>
</html>