<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.dao.GoodsMapper">

    <resultMap id="GoodsResultMap" type="com.springboot.bean.Goods">
        <result property="id" column="id" javaType="Integer" jdbcType="INTEGER"></result>
        <result property="goodsName" column="goods_name" javaType="String" jdbcType="VARCHAR"></result>
        <result property="type" column="type" javaType="Integer" jdbcType="INTEGER"></result>
        <result property="goodsPrice" column="goods_price" javaType="Integer" jdbcType="INTEGER"></result>
        <result property="goodsStock" column="goods_stock" javaType="Integer" jdbcType="INTEGER"></result>
        <result property="goodsSold" column="goods_sold" javaType="Integer" jdbcType="INTEGER"></result>
        <result property="detail" column="detail" javaType="String" jdbcType="VARCHAR"></result>
        <result property="createTime" column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP"></result>
        <result property="priceOriginal" column="price_original" javaType="Integer" jdbcType="INTEGER"></result>
        <result property="picURLone" column="picURLone" javaType="String" jdbcType="VARCHAR"></result>
        <result property="picURLtwo" column="picURLtwo" javaType="String" jdbcType="VARCHAR"></result>
    </resultMap>

    <select id="selectByGoodsId" resultType="Goods" parameterType="Integer">
        select * from goods_detail where goods_detail.id=#{id}
    </select>

    <select id="selectByGoodsName" resultType="com.springboot.bean.Goods" parameterType="String">
        select * from goods_detail where goods_detail.goods_name=#{goodsName}
    </select>

    <select id="getAll" resultType="Goods">
        select * from goods_detail
    </select>

    <insert id="insert" parameterType="com.springboot.bean.Goods">
        insert into goods_detail(id,goods_name,type,goods_price,goods_stock,goods_sold,detail,price_original,picURLone,picURLtwo,activity_id)
        values(#{id,jdbcType=INTEGER},#{goodsName,jdbcType=VARCHAR},#{type,jdbcType=INTEGER},#{goodsPrice,jdbcType=INTEGER},#{goodsStock,jdbcType=INTEGER},#{goodsSold,jdbcType=INTEGER},#{detail,jdbcType=VARCHAR},#{priceOriginal,jdbcType=INTEGER},#{picURLone,jdbcType=VARCHAR},#{picURLtwo,jdbcType=VARCHAR})
    </insert>

    <delete id="deleteById" parameterType="Integer">
        delete from goods_detail where goods_detail.id = #{id}
    </delete>

    <update id="updateById" parameterType="com.springboot.bean.Goods">
        update goods_detail
        set goods_name = #{goods_name,jdbcType=VARCHAR},
        `type` = #{type,jdbcType=VARCHAR},
        goods_price = #{goodsPrice,jdbcType=INTEGER},
        goods_stock = #{goodsStock,jdbcType=INTEGER},
        goods_sold = #{goodsSold,jdbcType=INTEGER},
        detail = #{detail,jdbcType=VARCHAR}
        price_original = #{priceOriginal,jdbcType=INTEGER}
        picURLone = #{picURLone,jdbcType=VARCHAR},
        picURLtwo = #{picURLtwo,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByIdSelective" parameterType="com.springboot.bean.Goods">
        update goods_detail
        <set>
            <if test="goodsName != null">
                goods_name = #{goodsName,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                `type` = #{type,jdbcType=VARCHAR},
            </if>
            <if test="goodsPrice != null">
                goods_price = #{goodsPrice,jdbcType=INTEGER},
            </if>
            <if test="goodsStock != null">
                goods_stock = #{goodsStock,jdbcType=INTEGER},
            </if>
            <if test="goodsSold != null">
                goods_sold = #{goodsSold,jdbcType=INTEGER},
            </if>
            <if test="detail != null">
                detail = #{detail,jdbcType=VARCHAR},
            </if>
            <if test="priceOriginal != null">
                price_original = #{priceOriginal,jdbcType=INTEGER},
            </if>
            <if test="picURLone != null">
                picURLone = #{picURLone,jdbcType=VARCHAR},
            </if>
            <if test="picURLtwo != null">
                picURLtwo = #{picURLtwo,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectByActivityId" resultType="com.springboot.bean.Goods" parameterType="Integer">
        select goods_detail.id,goods_name,`type`,goods_price,goods_stock,goods_sold,detail,create_time,price_original,picURLone,picURLtwo from goods_detail, activity_goods where activity_goods.activity_id=#{activityId,jdbcType=INTEGER} and goods_detail.id = activity_goods.goods_id;
    </select>

    <insert id="addGood2Activity" parameterType="Integer">
        insert into activity_goods(goods_id,activity_id)
        values(#{goodIds,jdbcType=INTEGER},#{activityId,jdbcType=INTEGER})
    </insert>

    <delete id="rmvGoodFromAct" parameterType="Integer">
        delete from activity_goods where activity_goods.goods_id = #{goodsId} AND activity_goods.activity_id = #{activityId}
    </delete>


</mapper>